@model RealEstateAspNetCore3._1.Models.FooterLink

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FooterLink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.twitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.youtube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.youtube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.googlemap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.googlemap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.whatsapp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.whatsapp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FooterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
