@model RealEstateAspNetCore3._1.Models.Register 

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    <div class="row">
        <!--Filtreleme-->
        <div class="col-md-3"></div>


        <br />
        <div class="col-md-9">

            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Register</li>
                    </ol>
                </nav>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <!--Register-->

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Adı </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">SoyadıAdı </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">KullanıcıAdı </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Şifre </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Tekrar Şifre </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">

                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-users"></i> Register </button>
                        </div>
                    </div>


                }

            </div>

        </div>

    </div>

</div>