@model IEnumerable<RealEstateAspNetCore3._1.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İlanlarım...</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Addres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
         
           
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood.District.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood.NeighborhoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdvId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdvId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdvId">Delete</a> |
                <a asp-action="Images" asp-route-id="@item.AdvId">add photos </a>
            </td>
        </tr>
}
    </tbody>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Addres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th></th>
        </tr>

    </tfoot>
</table>
