@model IEnumerable<RealEstateAspNetCore3._1.Models.District>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        counter-reset: row-num;
    }

        table tr {
            counter-increment: row-num;
        }

            table tr td:first-child::before {
                content: counter(row-num) " : ";
            }
</style>

<div class="container">

    <div class="row">
        <!--Filtreleme-->




        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/Admin/Index"> Admin Panel</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Semt Listesi</li>
                    </ol>
                </nav>
                <a class="btn btn-primary btn-block" href="@Url.Action("Create")"> Semt Ekle </a>
                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DistrictName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DistrictName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City.Name)
                                </td>
                                <td>
                                    @*bu yötem Corede özeliktir*@ 
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DistrictId"><i class="fa fa-edit"></i>Edit</a> |
                                    <a  class="btn btn-success" asp-action="Details" asp-route-id="@item.DistrictId"><i class="fa fa-info-circle"></i>Details</a> |
                                    <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DistrictId"><i class="fa fa-trash"></i>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DistrictName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th></th>
                        </tr>

                    </tfoot>
                </table>

            </div>

        </div>

    </div>

</div>